// imports
@import 'base';
@import 'reset';
@import 'node_modules/bootstrap/scss/bootstrap';

/* */
body {
  background: $backgroundColor;
  padding-bottom: 70px;
  overflow: none;
}

/*Nav Bar*/

.navbar {
  font-family: $font-secondary;
}
.navbar-brand {
  font-family: $font-primary;
  font-size: 1.75rem;
}
.navbar-dark .navbar-toggler {
  color: $navbarColor;
  border-color: $navbarColor;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  font-size: 1.5rem;
}

.hero--h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: $primary;
  font-family: $font-primary;
}

.hero--h2 {
  font-size: 1rem;
  font-family: $font-secondary;
  font-weight: 600;
  color: rgba($primary, 0.7) !important;
}

@media only screen and (min-device-width: 350px) {
  .hero--h1 {
    font-size: 3.25rem;
  }

  .hero--h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 605px) {
  .hero--h1 {
    font-size: 5.5rem;
  }

  .hero--h2 {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0 1.25em;
  }
}

@media only screen and (min-device-width: 1000px) {
  .hero--h1 {
    font-size: 7rem;
  }
  .navbar-brand {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    padding: 0 0.75em;
  }
}

.heading {
  h3 {
    border-top: 3px solid $primary;
    width: 100%;
    text-align: left;
    line-height: 0.1em;
    margin: 15px 0 20px;

    span {
      background: $backgroundColor;
      padding: 0 10px;
      font-family: $font-secondary;
      font-weight: 700;
      color: $primary;
    }
  }
}

//about page
.aboutMe--img {
  img {
    width: 80%;
    height: auto;
  }
}

.aboutMe--blurb {
  h4 {
    font-family: $font-secondary;
    margin: 0.25em 0;
    text-align: center;
    color: $primary;
    font-weight: 600;
  }
  p {
    font-family: $font-secondary;
    font-size: 0.8rem;
    padding: 0 2em;
    text-align: center;
    font-weight: 900;
    color: $secondary;
  }
}
@media only screen and (min-device-width: 605px) {
  .aboutMe--img {
    img {
      height: 500px;
      width: auto;
      object-fit: cover;
    }
  }
  .aboutMe--blurb {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      margin: 0.25em;
      padding: 0.5em;
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      margin: 0.5em;
      padding: 1em;
    }
  }
}
/*
.
*/
.heading {
  img {
    height: 50px;
    width: 50px;
    color: $primary;
    margin: 2em auto;
    margin: 1em 1.5em;
  }
}
/* Portfolio */
.p-card {
  float: none;
  margin: 1em;
  width: 18em;
}

@media only screen and (min-device-width: 475px) and (max-device-width: 750px) {
  .p-card {
    width: 350px;
    max-width: 350px;
    height: auto;
  }
}

/* Contact Me Css  */
.c-message {
  h4 {
    margin: 1em auto;
    font-size: 1.25rem;
    font-family: $font-secondary;
    font-weight: 700;
    color: $secondary;
  }
  p {
    margin: 1em;
    font-family: $font-secondary;
    color: $secondary;
  }
}

.c-social {
  margin: 1.25em auto;

  i {
    font-size: 1.25rem;
  }
}

@media only screen and (min-device-width: 400px) {
  .c-social {
    i {
      font-size: 1.75rem;
    }
  }
}
.c-form {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 1em 1.25em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  label {
    display: none;
  }

  input,
  textarea {
    border-radius: none;
    border: none;
    border-bottom: solid 2px rgba($primary, 0.7);
    font-size: 0.9em;
    font-weight: 400;
    color: $secondary;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 1em 0.5em;
  }
  input:focus {
    border-color: $primary;
  }
  input[type='submit'] {
    width: 30%;
    padding: 0.25em;
    color: #fff;
    font-weight: 600;
    font-family: $font-secondary;
    margin: 0 auto;
  }
  ::placeholder {
    padding: 0 0 1em 0.25em;
  }
}
